body {
    header {

        .topbar {
            margin: 0 10%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            div:first-child {
                display: flex;
                gap: 1rem;

                h1 {
                    span {
                        color: #189EB9;
                    }
                }
            }

            .search-container {
                position: relative;

                input {
                    border-radius: 0.5rem;
                }

                i {
                    position: absolute;
                    color: #C71464;
                    font-size: 1.7rem;
                    top: 0.5rem;
                    right: 0.5rem;
                }
            }

            div {
                a {
                    text-decoration: none;
                    color: black;
                    font-size: 1.2rem;
                }

                a:hover {
                    font-weight: bold;
                    padding-bottom: 1rem;
                    border-bottom: 0.2rem black solid;
                }
            }

            .search-container {
                input {
                    width: 20rem;
                    height: 2.5rem;
                    padding: 0;
                }

                button {
                    height: 2.7rem;
                }

            }
        }

        .bottombar {
            display: flex;
            justify-content: space-between;
            margin: 0 10%;
            padding-block: 1rem;

            .navbar {

                a {
                    text-decoration: none;
                    color: black;
                    padding-inline: 0.5rem;
                    font-size: 1.2rem;
                }

                a:hover {
                    color: #189EB9;
                }
            }

            .icons {
                i {
                    padding-inline: 0.5rem;
                    font-size: 1.5rem;
                }

                i:hover {
                    color: #189EB9
                }
            }
        }
    }

    .topcontainer {
        color: white;
        background-image: url(../img/voiture_stage.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;

        p:first-child {
            padding-top: 1rem;
            float: left;
        }

        h1 {
            font-weight: bold;
            padding: 1rem 0 2rem 0;
            margin: 0 20%;
            font-size: 2rem;
            clear: both;
        }

        p {
            margin: 0 20% 2rem 20%;
            font-size: 1.5rem;
        }

        div {
            margin: 0 10%;
            display: flex;
            justify-content: space-evenly;
            padding-bottom: 2rem;

            section {
                width: 18%;
                position: relative;

                select {
                    width: 100%;
                    padding: 0.5rem 1rem;
                    border-radius: 0.5rem;
                    appearance: none;
                }

                i {
                    position: absolute;
                    right: 1rem;
                    top: 0.5rem;
                    color: #C71464;
                    pointer-events: none;
                }

            }

            button {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 18%;
                border: 0.1rem solid white;
                border-radius: 0.5rem;
                color: white;
                font-weight: bold;
                background-color: transparent;

                i {
                    font-size: 1.2rem;
                }
            }


        }
    }

    .container {
        margin: 0 10%;

        .tribar {
            margin: 1rem;
            display: flex;
            justify-content: space-between;

            #offres {
                padding: 1rem 0rem;
                font-weight: bold;
            }

            .tri {
                display: flex;

                section {
                    padding-inline: 1rem;
                    position: relative;

                    select {
                        appearance: none;
                    }

                    button,
                    select {
                        padding: 0.5rem 2rem;
                        border-radius: 0.5rem;
                        background-color: white;

                        i {
                            padding-right: 1rem;
                            font-size: 1.2rem;
                        }
                    }

                    i {
                        position: absolute;
                        right: 1.5rem;
                        top: 0.5rem;
                        color: #C71464;
                        pointer-events: none;
                    }

                    button:hover {
                        border: 2px solid pink;

                    }
                }
            }
        }

        .offre_container {
            display: flex;
            justify-content: space-between;
            section {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 32%;
                border: 0.1rem rgba(0, 0, 0, 0.13) solid;

                h2,
                p,
                aside {
                    padding-inline: 1rem;
                }

                label {
                    position: absolute;
                    left: 0.5rem;
                    top: 0.5rem;
                    padding: 0.5rem;
                    background-color: #C71464;
                    color: white;
                    border-radius: 0.5rem;
                }

                #heart {
                    position: absolute;
                    padding: 0.5rem;
                    right: 0.5rem;
                    top: 0.5rem;
                    font-size: 2rem;
                    color: pink;
                    background: grey;
                    border-radius: 2rem;
                    color: white;
                }

                #heart:active {
                    color: red;
                }

                img {
                    width: 100%;
                    height: 55%;
                    border-bottom-right-radius: 4rem;
                }

                i {
                    color: gold;
                }

                aside {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;

                    div:first-child {
                        margin: 1rem 0;
                    }

                    div {
                        .price {
                            color: #C71464;
                            font-size: 1.5rem;
                            font-weight: bold;
                        }

                        .f_price {
                            text-decoration: line-through;
                        }
                    }
                }

                p {
                    color: rgba(0, 0, 0, 0.5);
                }

            }
        }
    }
}

@media (max-width:560px) {
    * {
        margin: 0;
        padding: 0;
    }
    body {
        width: 100%;
        header {
            .topbar {
                margin: 0;
                flex-direction: column;
                gap: 0.5rem;
                div {
                    a {
                         font-size: 1.5rem;
                    }
                }
                .search-container {
                    width: 90%;
                    input {
                        width: 100%;
                    }
                }
            }

            .bottombar {
                flex-direction: column;
                margin: 0;
                .navbar {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.2rem;
                    a {
                        font-size:2rem;
                        background-color: grey;
                        width: 90%;
                        text-align: center;
                        border-radius: 0.5rem;
                    }
                }
                .icons {
                    display: none;
                }
            }
        }

        main {
            width: 100%;
            .topcontainer {
                background-image: none;
                h1 {
                    display:inline;
                    width: 100%;
                    margin: 0;
                    color: black;
                    width: 90%;
                }
                p {
                    display: none;
                }

                div {
                    margin: 0;
                    flex-direction: column;
                    align-items: center;
                    padding: 0;
                    section {
                        width: 90%;
                        select{
                            background-color: black;
                            color: white;
                            font-size: 1.5rem;
                        }
                    }
                    button {
                        padding: 0.5rem 0;
                        width: 90%;
                        background-color: rgba(0, 0, 0, 0.356);
                        font-size: 1.5rem;
                        color: black;
                        margin-top: 0.5rem;
                        i {
                            font-size: 1.5rem;
                        }
                    }
                }
            }

                .container {
                    margin: 0 1rem;
                    .tribar {
                        flex-direction: column;
                        margin: 0;
                        .tri {
                            section {
                                button {
                                    i {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                .offre_container {
                    flex-direction: column;
                    gap: 0.5rem;
                    section {
                        width: 100%;
                        border: 0.1rem rgba(0, 0, 0, 0.632) solid;
                        border-radius: 1rem;
                        img {
                            transform: scale(0,5.0,5);
                        }
                    }
                }

            }
        }
    }
}